extends ../layout

block content
    div.container
        h1 Recorderjs simple WAV export example
        
        button(class='btn btn-lg btn-primary', onclick='startRecording(this);') record
        button(class='btn btn-lg btn-primary', onclick='stopRecording(this);' disabled) stop
        
        h2 Recordings
        ul#recordingslist
        
        h2 Log
        pre#log
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                #fileupload
                    form(action='/record/add', method='POST',enctype='multipart/form-data')
                        input(name='Audiodatei', type='file', accept='audio/*', required)
                        button(class='btn btn-lg btn-primary btn-block', type='submit') Upload
                        span.clearfix
        
    
    script(src='/javascripts/wavrecord.js')
    script(src='/javascripts/recordmp3.js')