extends ../layout

block content
    div.container
        h1 Recorderjs simple WAV export example
        
        button(class='btn btn-lg btn-primary', onclick='startRecording(this);') record
        button(class='btn btn-lg btn-primary', onclick='stopRecording(this);' disabled) stop
        
        h2 Recordings
        ul#recordingslist
        
        h2 Log
        pre#log
        
    
    script(src='/javascripts/wavrecord.js')
    script(src='/javascripts/recordmp3.js')